name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build APK
        uses: Niklas-dev/buildozer-action@v1.2
        with:
          buildozer_version: stable
          python_version: 3.10
