name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build with Buildozer
        uses: ArtemSerebrenn/buildozer-action@v1
        with:
          buildozer_version: stable
          python_version: 3.10
